li {
    padding: 2px 4px;
    list-style-type: none;
}

li li {
    margin-left: 16px;
}

label {
    display: inline-block;
    margin-right: 16px;
    color: #B27ECD;
}

.parentNode:before {
    content: "\0025B8 \0000a0";
    margin-left: -1.2em;
}
.parentNode.expanded:before {
    content: "\0025BE \0000a0";
}

.object > span {
    cursor: default;
}
.object > span:before {
    content: "{...} ";
}

.object.expanded > span {
}

.array > span {
    cursor: default;
}
.array > span:before {
    content: "[...] ";
}

.array.expanded > span {
    color: #D7D5D8;
}

.string > span {
    color: #88B379;
}

.number > span {
    color: #0B75F5;
}

.boolean > span {
    color: #08C6CE;
}

.null > span {
    color: #DF113A;
}

.children-count {
    -webkit-user-select: none;
    user-select: none;
}
