@import '../stylesheets/colors';

li {
    padding: 2px 0;
    list-style-type: none;
}

label {
    display: inline-block;
    margin-right: 0.5em;
    color: map-get($colors, 'magenta');
}

.parentNode:before {
    content: "\0025B8 \0000a0";
    margin-left: -1.2em;
}
.parentNode.expanded:before {
    content: "\0025BE \0000a0";
}

.object > span {
    cursor: default;
}
.object > span:before {
    content: "{...} ";
}

.object.expanded > span {
}

.array > span {
    cursor: default;
}
.array > span:before {
    content: "[...] ";
}

.array.expanded > span {
    color: map-get($colors, 'white');
}

.string > span {
    color: map-get($colors, 'green');
}

.number > span {
    color: map-get($colors, 'blue');
}

.boolean > span {
    color: map-get($colors, 'cyan');
}

.null > span {
    color: map-get($colors, 'red');
}

.children-count {
    -webkit-user-select: none;
    user-select: none;
}
