<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <title>Black Screen</title>

  <script src="../../src/views/Main.js"></script>

  <style>
    * {
      box-sizing: border-box;
    }

    html {
      -webkit-backface-visibility: hidden;
    }

    body {
      margin: 0;
    }

    @font-face {
      font-family: "FontAwesome";
      src: url(../../../node_modules/font-awesome/fonts/fontawesome-webfont.ttf) format("truetype");
    }

    @keyframes progress-bar-stripes {
      from {
        background-position: 0 0;
      }
      to {
        background-position: 30px 0;
      }
    }
  </style>
</head>
<body></body>
</html>
