$black-normal: #292C33;
$red-normal: #BF6E7C;
$white-normal: #95A2BB;
$green-normal: #88B379;
$yellow-normal: #D9BD86;
$blue-normal: #66A5DF;
$magenta-normal: #C699C5;
$cyan-normal: #6EC6C6;

$black-bright: #2D323A;
$red-bright: #dd8494;
$white-bright: #adbcd7;
$green-bright: #9dcc8c;
$yellow-bright: #e9cc92;
$blue-bright: #6cb2f0;
$magenta-bright: #e8b6e7;
$cyan-bright: #7adada