@import "default_colors";

// Any theme from iterm2-colors can be imported here
//@import "../node_modules/iterm2-colors/functional/sass/Duotone Dark";

$base-colors: (
        'black': $black-normal,
        'red': $red-normal,
        'white': $white-normal,
        'green': $green-normal,
        'yellow': $yellow-normal,
        'blue': $blue-normal,
        'magenta': $magenta-normal,
        'cyan': $cyan-normal,

        'bright-black': $black-bright,
        'bright-red': $red-bright,
        'bright-white': $white-bright,
        'bright-green': $green-bright,
        'bright-yellow': $yellow-bright,
        'bright-blue': $blue-bright,
        'bright-magenta': $magenta-bright,
        'bright-cyan': $cyan-bright
);

@function to-rgb($color) {
  $RGB: 0;
  @if $color > 0 {
    $RGB: 55 + $color * 40;
  }

  @return $RGB;
}

$extra-colors: (
        'selection-color': rgba(lighten(map-get($base-colors, 'bright-black'), 10%), 0.7)
);

@for $index from 0 through 215 {
  $R: floor($index / 36);
  $G: floor(($index % 36) / 6);
  $B: floor($index % 6);

  $key: $index + 16;
  $value: rgb(to-rgb($R), to-rgb($G), to-rgb($B));

  $extra-colors: map-merge($extra-colors, ($key: $value));
}

$gray-scale-colors: ();
@for $index from 0 through 23 {
  $COLOR: $index * 10 + 8;

  $key: $index + 232;
  $value: rgb($COLOR, $COLOR, $COLOR);

  $gray-scale-colors: map-merge($gray-scale-colors, ($key: $value));
}

$colors: map-merge($base-colors, map-merge($gray-scale-colors, $extra-colors));
