@import 'colors';

$fa-font-path: "../node_modules/font-awesome/fonts";
@import '../node_modules/font-awesome/scss/font-awesome';

a {
  color: map-get($colors, 'blue');
}

@each $color, $value in $colors {
  [data-color='#{$color}'] {
    color: $value;
  }

  [data-background-color='#{$color}'] {
    background-color: $value;
  }
}

[data-weight='bold'] {
  font-weight: bold;
}

[data-underline='true'] {
  text-decoration: underline;
}

@mixin info-panel {
  padding: 8px 0 6px 0.6em;
  min-height: 2em;
  line-height: 1.3;
  background-color: #23252B;
}

* {
  box-sizing: border-box;
}

body, pre {
  background-color: map-get($colors, 'black');
  color: map-get($colors, 'white');
  font-family: 'Menlo', monospace !important;
  font-size: 14px;
  margin: 0;
}

#invocations {
  margin-bottom: 40px;
}

.prompt-wrapper {
  position: relative;

  .prompt-decoration {
    display: inline-block;
    background-color: #353b44;
    height: 16px;
  }

  .arrow {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 8px 0 8px 8px;
    border-color: transparent transparent transparent #353b44;
    display: inline-block;
    background-color: map-get($colors, 'bright-black');
    vertical-align: middle;
    margin-bottom: 2px;
    margin-left: 15px;
  }

  &.failure {
    .prompt-decoration {
      background-color: map-get($colors, 'red');
    }

    .arrow {
      border-left-color: map-get($colors, 'red');
    }
  }

  .prompt {
    display: inline-block;
    white-space: pre-wrap;
    -webkit-appearance: none;
    background-color: map-get($colors, 'bright-black');
    border: none;
    outline: none;
    color: map-get($colors, 'white');
    font-family: 'Menlo', monospace !important;
    font-size: 14px;
    width: 100%;
    margin: 8px -100px 8px 0;
    padding: 0 8px;
    &:focus {
      -webkit-appearance: none;
      background-color: map-get($colors, 'bright-black');
      border: none;
      outline: none;
      color: map-get($colors, 'white');
      font-family: 'Menlo', monospace !important;
      font-size: 14px;
      width: 100%;
      margin: 8px -100px 8px 0;
      padding: 0 8px;
    }
  }
}

.output {
  margin: 10px;
}

#black-board {
  margin-bottom: 24px;
}

#sizes-calculation {
  position: absolute;
  visibility: hidden;
  height: auto;
  width: auto;
  white-space: nowrap;
}

#status-line {
  position: fixed;
  bottom: 0;
  width: 100%;

  @include info-panel;
  
  .current-directory {
    display: inline-block;
  }
  
  .vcs-data {
    display: inline-block;
    float: right;
    margin-right: 10px;
    .status {
      display: inline-block;
    }
  }
}

.decoration-toggle {
  color: map-get($colors, 'green');

  position: absolute;
  right: 1em;

  &.disabled {
    color: map-get($colors, 'white');
  }
}

pre {
  white-space: pre-wrap;
}

.autocomplete {
  position: absolute;

  box-shadow: 0 2px 8px 1px rgba(0, 0, 0, 0.3);
  background-color: map-get($colors, 'black');

  ul {
    max-height: 300px;

    overflow: auto;

    padding: 0;
    margin: 0;

    li {
      list-style-type: none;
      padding: 2px;

      .value {
        padding-right: 30px;
      }

      .synopsis {
        float: right;
        opacity: 0.5;
        font-size: 0.8em;
        margin-top: 0.65em;
        margin-right: 5px;
      }

      .score {
        float: right;
        font-size: 0.8em;
        margin: 0.3em 3px 0 8px;

        border-radius: 45%;

        width: 40px;
        height: 20px;
        padding: 3px;

        border: 1px solid;
        text-align: center;
      }

      .icon:before {
        content: ' ';
        vertical-align: middle;
        width: 2em;

        display: inline-block;
        height: inherit;

        line-height: 2em;
        text-align: center;
        font-style: normal;

        opacity: .5;
        margin-right: 10px;

        background-color: rgba(0, 0, 0, 0.15)
      }

      &.alias .icon:before {
        content: 'A';
      }

      &.file .icon:before {
        content: 'F';
      }

      &.executable .icon:before {
        content: 'E';
      }

      &.history .icon:before {
        content: 'H';
      }

      &.command .icon:before {
        content: 'C';
      }

      &.option .icon:before {
        content: 'O';
      }

      &.selected {
        background-color: #383E4A;
      }
    }
  }

  .description {
    display: block;
    box-shadow: 0 4px 8px 1px rgba(0, 0, 0, 0.3);

    position: absolute;
    left: 0;
    right: 0;

    font-size: 0.8em;

    @include info-panel;
  }
}
