@import 'colors';

$fa-font-path: "../node_modules/font-awesome/fonts";
@import '../node_modules/font-awesome/scss/font-awesome';
@import '../node_modules/octicons/octicons/sprockets-octicons';

@font-face {
  font-family: 'octicons';
  src: url("../node_modules/octicons/octicons/octicons.eot?#iefix") format("embedded-opentype"),
  url("../node_modules/octicons/octicons/octicons.woff") format("woff"),
  url("../node_modules/octicons/octicons/octicons.ttf") format("truetype"),
  url("../node_modules/octicons/octicons/octicons.svg#octicons") format("svg");
  font-weight: normal;
  font-style: normal;
}

a {
  color: map-get($colors, 'blue');
}

@each $color, $value in $colors {
  [data-color='#{$color}'] {
    color: $value;
  }

  [data-background-color='#{$color}'] {
    background-color: $value;
  }
}

[data-weight='bold'] {
  font-weight: bold;
}

[data-underline='true'] {
  text-decoration: underline;
}

@mixin info-panel {
  padding: 8px 0 6px 0.6em;
  min-height: 2em;
  line-height: 1.3;
  background-color: #23252B;
}

* {
  box-sizing: border-box;
}

body, pre {
  background-color: map-get($colors, 'black');
  color: map-get($colors, 'white');
  font-family: 'Meslo LG S for Powerline', 'Menlo', monospace !important;
  font-size: 14px;
  margin: 0;
}

.invocations {
  margin-bottom: 40px;
}

.prompt-wrapper {
  position: relative;
  margin-top: 5px;

  $decoration-width: 30px;
  $height: 17px;
  $arrow-z-index: 2;
  $progress-bar-stripes-size: 30px;

  @keyframes progress-bar-stripes {
    from {
      background-position: 0 0;
    }
    to {
      background-position: $progress-bar-stripes-size 0;
    }
  }

  .prompt-decoration {
    display: inline-block;
    height: 17px;
  }

  .arrow {
    position: relative;
    width: $decoration-width;
    height: $height;
    margin: 0 auto;
    overflow: hidden;
    z-index: $arrow-z-index;

    &:after {
      content: '';
      position: absolute;
      width: 200%;
      height: 200%;
      top: -11px;
      right: -8px;
      background-color: #353b44;
      transform-origin: 54% 0;
      transform: rotate(45deg);
      z-index: $arrow-z-index - 1;

      background-size: 0; // Is used to animate the in-progress arrow.
    }
  }

  &.failure {
    .arrow:after {
      background-color: map-get($colors, 'red');
    }
  }

  &.in-progress {
    .arrow:after {
      transition: background 0.1s step-end;
      animation: progress-bar-stripes 0.5s linear infinite;
      background-image: linear-gradient(45deg, map-get($colors, 'bright-black') 25%, transparent 25%, transparent 50%, map-get($colors, 'bright-black') 50%, map-get($colors, 'bright-black') 75%, transparent 75%, transparent);
      background-size: $progress-bar-stripes-size $progress-bar-stripes-size;
    }
  }

  .prompt {
    position: absolute;
    left: $decoration-width - 10px;
    right: 0;
    padding: 0 20px;
    height: $height;
    color: map-get($colors, 'white');
    background-color: map-get($colors, 'bright-black');
    font-size: 14px;

    @mixin common {
      display: inline-block;
      white-space: pre-wrap;
      -webkit-appearance: none;
      border: none;
      outline: none;
    }

    @include common;

    &:focus {
      @include common;
    }
  }
}

.output {
  margin: 10px;
}

#black-board {
  margin-bottom: 24px;
}

#sizes-calculation {
  position: absolute;
  visibility: hidden;
  height: auto;
  width: auto;
  white-space: nowrap;
}

#status-line {
  position: fixed;
  bottom: 0;
  width: 100%;

  @include info-panel;

  .current-directory {
    display: inline-block;

    &:before {
      @extend .octicon;
      @extend .octicon-file-directory;
      margin-right: 5px;
    }
  }

  .vcs-data {
    display: inline-block;
    float: right;
    margin-right: 10px;

    .status {
      display: inline-block;

      &:before {
        @extend .octicon;
        @extend .octicon-git-branch;
        margin-right: 5px;
      }
    }
  }
}

.decoration-toggle {
  color: map-get($colors, 'green');

  position: absolute;
  right: 1em;

  &.disabled {
    color: map-get($colors, 'white');
  }
}

pre {
  white-space: pre-wrap;
}

.autocomplete {
  position: absolute;

  box-shadow: 0 2px 8px 1px rgba(0, 0, 0, 0.3);
  background-color: map-get($colors, 'black');

  ul {
    max-height: 300px;

    overflow: auto;

    padding: 0;
    margin: 0;

    li {
      list-style-type: none;
      padding: 2px;

      .value {
        padding-right: 30px;
      }

      .synopsis {
        float: right;
        opacity: 0.5;
        font-size: 0.8em;
        margin-top: 0.65em;
        margin-right: 5px;
      }

      .score {
        color: map-get($colors, 'red');
        float: right;
        font-size: 0.8em;
        margin: 0.3em 3px 0 8px;

        border-radius: 45%;

        width: 40px;
        height: 20px;
        padding: 3px;

        border: 1px solid;
        text-align: center;
      }

      .icon:before {
        content: ' ';
        vertical-align: middle;
        width: 2em;

        display: inline-block;
        height: inherit;

        line-height: 2em;
        text-align: center;
        font-style: normal;

        opacity: .5;
        margin-right: 10px;

        background-color: rgba(0, 0, 0, 0.15)
      }

      &.alias .icon:before {
        content: 'A';
      }

      &.file .icon:before {
        content: 'F';
      }

      &.executable .icon:before {
        content: 'E';
      }

      &.history .icon:before {
        content: 'H';
      }

      &.command .icon:before {
        content: 'C';
      }

      &.option .icon:before {
        content: 'O';
      }

      &.selected {
        background-color: #383E4A;
      }
    }
  }

  .description {
    display: block;
    box-shadow: 0 4px 8px 1px rgba(0, 0, 0, 0.3);

    position: absolute;
    left: 0;
    right: 0;

    font-size: 0.8em;

    @include info-panel;
  }
}
